<h1><%=@place["name"]%></h1>

<ul>
<% @posts = Post.where({"place_id" => @place["id"]})%>
  <% for post in @posts %>
    <li>
        <%= post["title"] %>
        <%= post["description"] %>
        <%= post["posted_on"] %>
    </li>
  <% end %>
</ul>

<p>
    <a href="/posts/new?place_id=<%= @place["id"]%>">
        New post
    </a>
</p>

<p>
    <a href="/places">
        Go back to all places
    </a>
</p>